@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 85%;
}

:root {
    /* colors  */
    --color-primary: #DD1A1A;
    --color-secondary: #0C0C0C;
    --color-tertiary: #E5E5E5;
    --color-quaternary: #212121;

    /* fonts */
    --font-primary: 'Pokemon Solid', sans-serif;                                                
}

img {
    max-width: 100%;
}

body {
    line-height: 1.6;
  }




/* ---------------------------------- HOME PAGE STYLES ---------------------------------------- */



.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary);
    background-color: var(--color-tertiary);
}

.home__card {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home__card h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-primary);
}

.home__form {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__form input {
    width: 60%;
    padding: 1.2rem;
    border-radius: .5rem 0 0 .5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    color: var(--color-secondary);
    background-color: white;
}

.home__form button {
    width: 40%;
    padding: 1.2rem;
    border-radius: 0 .5rem 0.5rem 0;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    background-color: var(--color-quaternary);
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 700;
    font-family: oswald, sans-serif;
    transform: translateY(-.1rem);
    transition: transform .2s ease-in-out;
}

.home__form button:hover {
    color: black;
    background-color: var(--color-primary);
    transform: translateY(0.1rem);
    box-shadow: none;
}

.home__box, .pokedex__box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box__red {
    background-color: var(--color-primary);
    width: 100%;
    height: 50%;
}

.box__black {
    background-color: var(--color-secondary);
    width: 100%;
    height: 50%;
}

.box__ball {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--color-tertiary);
    position: absolute;
    border: 10px solid var(--color-secondary);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.box__ball:hover {
    transform: scale(1.1);
}

.in {
    width: 50%;
    height: 50%;
    background-color: var(--color-quaternary);
    top: 25%;
    left: 25%;
}



/* ---------------------------------- POKEDEX STYLES ---------------------------------------- */

.pokedex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
}

.pokedex__img {
    position: absolute;
    height: 70%;
    left: 10%;
}

.pokedex__box--header {
    height: 100px;
}

.box__ball--header {
    width: 80px;
    height: 80px;
    border: 7px solid var(--color-secondary);
    top: 45%;
    left: 85%;
}

.box__red--header {
    height: 70%;
}
.box__black--header {
    height: 30%
}

.in--header {
    border: 5px solid var(--color-secondary);
}

.pokedex__cards {
    width: 85%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.card {
    width: 22%;
    heigth: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: 1px solid var(--color-secondary);
    gap: 1rem;
}

.card__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.card__header img {
    width: 35%;
    height: auto;
}

.card__body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.card__body ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card__footer {
    width: 100%;
    heigth: auto;
    padding: 1.2rem;
}

.card__footer ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.card__footer li {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
}

.searchbar {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    gap: 1rem;
}

.searchbar h1 span {
    text-transform: uppercase;
    color: var(--color-primary);
}

.searchbar__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.searchbar__input {
    width: 50%;
}

.searchbar__input input {
    width: 80%;
}

.searchbar__input button {
    width: 20%;
}

.searchbar__select{
    width: 40%;
}


/* ---------------------------------- PAGINATION STYLES ---------------------------------------- */


.pagination {
    width: 60%;
    background-color: var(--color-quaternary);
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.pagination ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.pagination a {
    list-style: none;
    text-decoration: none;
    color: var(--color-tertiary);
}

.btn__off {
    display: none;
}
